.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info {
  padding: 15px 25px;
  color: #f8f9f4;
  border: 1px solid white;
  background-color: #ba0303;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}